.recipe-book-cover {
    background-color: #4D1B1B;
    color: white;
    border-radius: 1.5rem;
    height: 60rem;
    width: 40rem;
    margin: 0 auto;
    h2 {
        padding: 5rem;
        text-align: center;
    }
}